@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

palete {
  color: #03a1fc, #c7c7c7, #ebe0e0, #646464;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #03a1fc;
  background-image: linear-gradient(-225deg, #161518 5%, #121846 29%, #0b3e9c 67%, #111111 100%);
  background-size: contain;

}


main {
  width: 100%;
}

.banner {
  background-image: url(../img/banner.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 650px;
  background-color: rgba(240, 248, 255, 0);
  margin: 0 35rem;
  display: flex;
  filter: opacity(0.5) blur(0.6px);
  transform: scale(1.5);
  margin-top: 150px;
  max-width: 100%;
}

country-list {
  display: block;
  margin-top: 24px;
  width: 100%;
  padding: 5px;
  border-radius: 0px;
}

h3 {
  text-align: center;
  padding: 30px;
  font-family: 'Orbitron', sans-serif;
}


@media (max-width: 768px) {
  .banner {
    margin: 0 1rem;
    height: 500px;
    filter: none;
    transform: none;
    margin-top: 20px;
  }
}


/*---running text dan animasi---*/
.group {
  width: auto;
  min-width: auto;
  position: relative;
  height: 70px;
  overflow: hidden;
  color: #03a1fc;
  background-color: rgba(0, 0, 0, 0);
  margin: auto;
}

.group .text {
  font-family: 'Orbitron', sans-serif;
  font-size: 3em;
  position: absolute;
  margin: 5px 0;
  padding: 0;
  font-weight: 600;
  width: max-content;
  animation: kiri 14s linear infinite;
}

@keyframes kiri {
  0% {
    left: 100%;
  }

  100% {
    left: -200%;
  }
}

/*---Running Text Animasi 2---*/
.group2 {
  width: auto;
  min-width: auto;
  position: relative;
  height: 70px;
  overflow: hidden;
  color: #03a1fc;
  background-color: rgba(0, 0, 0, 0);
  margin: auto;
}

.group2.scrolled {
  background-color: #f1c40f;
}

.group2 .text2 {
  font-family: 'Orbitron', sans-serif;
  font-size: 3em;
  position: absolute;
  margin: 5px 0;
  padding: 0;
  font-weight: 600;
  width: max-content;
  animation: kanan 24s linear infinite;
  background: none;
}

.text2 img {
  width: 60px;
  height: 40px;
}

@keyframes kanan {
  0% {
    left: 100%;
  }

  100% {
    left: -200%;
  }
}



@media screen and (min-width: 768px) and (max-width: 1366px) {

  country-list {
    display: block;
    margin-top: 24px;
    width: 100%;
    padding: 5px;
    border-radius: 0px;
  }

  .group,
  .group2 {
    max-width: 100%;
    height: 50px;
  }

  .group .text,
  .group2 .text2 {
    font-size: 2em;
  }

  @keyframes kiri {
    0% {
      left: 100%;
    }

    100% {
      left: -500%;
    }
  }

  @keyframes kanan {
    0% {
      left: 100%;
    }

    100% {
      left: -200%;
    }
  }

}

@media screen and (max-width: 768px) {

  .group .text,
  .group2 .text2 {
    font-size: 1em;
  }

  .text img,
  .text2 img {
    width: 20px;
    height: 20px;
  }

  .result {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
    padding: 10px;
  }


}



#countries {
  margin: 0 auto;
  width: 80%;
  padding: 30px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
}


/*---style untuk top military---*/
#country-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.country {
  margin: 10px 0;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

.country img {
  width: 60px;
  height: 40px;
  margin-right: 10px;
}

.country h2 {
  font-size: 18px;
  margin: 0;
}

.country p {
  font-size: 14px;
  margin: 0;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #c7c7c7, rgba(0, 0, 0, 0));
}

.result {
  height: 200px;
  min-height: 700px;
  max-height: 700px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  margin: 50px;
}


#footer-info {
  font-size: 16px;
  color: #999;
  text-align: center;
  padding: 10px 0;
  background-color: rgba(0, 0, 0, 0);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

#footer-info a {
  color: #999;
  text-decoration: none;
}

#footer-info a:hover {
  color: #03a1fc;
}

@media only screen and (max-width: 480px) {
  #footer-info {
    font-size: 12px;
    padding: 5px 0;
  }
}